@use '/src/css/variables.scss';
@use './body.scss';
@use './header.scss';
@use './buttons.scss';

main {
    flex: 1;
}

.label {
    text-align: center;
    font-size: 5rem;
    font-weight: normal;
    font-family: var(--font-secondary);
    margin-top: 50px;
}

.feedback-area {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10rem;
}

.stars-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    gap: 2rem;
}

.feedback-interaction-area {
    width: 35rem;
    text-align: left;
    margin-bottom: 15rem;
}

.feedback-interaction-area.is-text-active .feedback-form {
    opacity: 0.8;
    max-height: 35rem;
    margin-top: 10px;
    padding: 1.2rem;
}

.feedback-form {
    color: var(--text-secondary);
    background-color: var(--bg-feedback-form);

    width: 100%;
    box-sizing: content-box;
    resize: none;
    font-size: 2.5rem;
    font-family: 'Century gothic';
    border-radius: 0.8rem;
    padding: 1rem;
    line-height: 1.2;

    max-height: 25rem;
    overflow-y: auto;

    transition: all 0.5s ease;

    max-height: 0;
    opacity: 0;

    margin-top: 0;
    padding-top: 0;
}

.feedback-form::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-overlay.open {
    opacity: 1;
    visibility: visible;
}

.modal-window {
    background-color: var(--bg-secondary);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    max-width: 50rem;
    border: 1px solid var(--header-space-color);

    width: 55rem;
    height: 20rem;
    max-width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.modal-text {
    font-size: 2.4rem;
    color: var(--text-secondary);
    margin-bottom: 3rem;
    font-family: var(--font-primary);
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#redirect-timer {
    display: inline-block;
    min-width: 3rem;
    text-align: center;
    font-variant-numeric: tabular-nums;
}
